:root{
    --background-color: #FAF6F0;
    --second-background-color: #5A6E5E;
    --third-backgroud-color: #B56555;
    --border-color: #635F5C;
    --font-color: #262322;
}

.darkmode{
    --background-color: #1D2622;
    --second-background-color: #10B981;
    --third-backgroud-color: #1D2622;
    --border-color: #1F2E2A;
    --font-color: #FAF8F5;
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 10%;
    background-color: var(--background-color);
    border: 2px dashed var(--border-color);
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-switch:hover{
    border-color: var(--font-color);
}

#theme-switch svg{
    fill: var(--font-color);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}

html {
    background-color: var(--background-color);
    font-size: 16px;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    color: var(--font-color);
}