:root{
    --background-color: #84d3a1;
    --second-background-color: #3c7c4e;
    --border-color: #443c3b;
    --font-color: #000000;
}

.darkmode{
    --background-color: #0a0a0a;
    --second-background-color: #1d1d1d;
    --border-color: #00ff88;
    --font-color: #00ff88;
}

#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 10%;
    background-color: var(--second-background-color);
    border: 2px dashed var(--border-color);
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-switch:hover{
    border-color: var(--font-color);
}

#theme-switch svg{
    fill: var(--font-color);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}

html {
    background-color: var(--base-color);
    font-size: 16px;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    color: var(--font-color);
}